
<section class="our-service">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5">
                <div class="left">
                    <h2>رنج خدمات ما</h2>
                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                        است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </p>
                    <a href="#" class="btn">مشاهده همه</a>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="right">
                    <div class="price-box">
                        <ul>
                            <li class="d-flex align-items-center">
                                <div class="left-col">
                                    <h5> آرایش و لوازم آرایشی </h5>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                        سطرآنچنان که لازم است
                                    </p>
                                </div>
                                <div class="right-col">
                                    <h2>3500 تومان</h2>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="left-col">
                                    <h5>عطر</h5>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                        سطرآنچنان که لازم است
                                    </p>
                                </div>
                                <div class="right-col">
                                    <h2>4200 تومان</h2>
                                </div>
                            </li>
                            <li class="d-flex align-items-center">
                                <div class="left-col">
                                    <h5>مراقبت از پوست</h5>
                                    <p>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                        طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                        سطرآنچنان که لازم است
                                    </p>
                                </div>
                                <div class="right-col">
                                    <h2>1800 تومان</h2>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@code {

}
