<address class="m-0 d-flex align-items-center">
    <span class="d-flex align-items-center justify-content-center map-icon">
        <i class="fas fa-map-marker-alt"></i>
    </span>
    <span>
        3556 خیابان ساحل، سانفرانسیسکو,<br>کالیفرنیا، 94108
    </span>
</address>
@code {

}
