<section class="cosmetics-specialist">
    <div class="container">
        <div class="section-title text-center">
            <h2> متخصص پوست خود را انتخاب کنید </h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="doctor-profile.html" class="specialities-img">
                            <img src="/assets/img/doctors/doctor-01.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="doctor-profile.html">
                                    <h5>اریک باکلر</h5>
                                </a>
                                <p> MBBS ، MDS - جراح پلاستیک </p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a href="doctor-profile.html" class="booknow-btn">رزرو کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="doctor-profile.html" class="specialities-img">
                            <img src="/assets/img/doctors/doctor-02.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="doctor-profile.html">
                                    <h5>لنه ساسی</h5>
                                </a>
                                <p> MBBS ، MDS - جراح پلاستیک </p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a href="doctor-profile.html" class="booknow-btn">رزرو کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="doctor-profile.html" class="specialities-img">
                            <img src="/assets/img/doctors/doctor-03.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="doctor-profile.html">
                                    <h5>متیو دد</h5>
                                </a>
                                <p> MBBS ، MDS - جراح پلاستیک </p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a href="doctor-profile.html" class="booknow-btn">رزرو کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="doctor-profile.html" class="specialities-img">
                            <img src="/assets/img/doctors/doctor-04.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="doctor-profile.html">
                                    <h5>کارول آلبا</h5>
                                </a>
                                <p> MBBS ، MDS - جراح پلاستیک </p>
                                <div class="rating">
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star filled"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="d-inline-block average-rating">(35)</span>
                                </div>
                                <a href="doctor-profile.html" class="booknow-btn">رزرو کنید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {

}
