
<section class="specialities">
    <div class="container">
        <div class="section-title text-center">
            <h2> ما متخصصیم در </h2>
            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="#" class="specialities-img">
                            <img src="/assets/img/specialities/specialities-01.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="#">
                                    <h5> زیبایی شناسی سخت افزار </h5>
                                </a>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                    طراحان گرافیک است.
                                </p>
                                <a href="#" class="btn">بیشتر بخوانید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="#" class="specialities-img">
                            <img src="/assets/img/specialities/specialities-02.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="#">
                                    <h5> زیبایی شناسی زیبایی </h5>
                                </a>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                    طراحان گرافیک است.
                                </p>
                                <a href="#" class="btn">بیشتر بخوانید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="#" class="specialities-img">
                            <img src="/assets/img/specialities/specialities-03.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="#">
                                    <h5> زیبایی شناسی تزریق </h5>
                                </a>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                    طراحان گرافیک است.
                                </p>
                                <a href="#" class="btn">بیشتر بخوانید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="specialities-col">
                    <div class="card">
                        <a href="#" class="specialities-img">
                            <img src="/assets/img/specialities/specialities-04.png" alt="">
                        </a>
                        <div class="card-body">
                            <div class="specialities-content">
                                <a href="#">
                                    <h5> آرایشی و بهداشتی لیزر </h5>
                                </a>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از
                                    طراحان گرافیک است.
                                </p>
                                <a href="#" class="btn">بیشتر بخوانید</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {

}
