<section class="section section-search">
    <div class="container">
        <div class="banner-wrapper">
            <div class="banner-header">
                <h1>جستجو <span>جراح پلاستیک </span> و <br> نوبت گرفتن</h1>
            </div>

            <div class="search-box">
                <form action="https://template.doccure.io/html/cosmetics-rtl/search.html">
                    <div class="form-group search-location">
                        <input type="text" class="form-control" placeholder="مکان">
                    </div>
                    <div class="form-group search-info">
                        <input type="text" class="form-control" placeholder="جستجو پزشک">
                    </div>
                    <button type="submit" class="btn btn-primary search-btn"><span>جستجو</span></button>
                </form>
            </div>

        </div>
    </div>
</section>
@code {

}
