<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="index-2.html" class="navbar-brand logo">
                <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="index-2.html" class="menu-logo">
                    <img src="/assets/img/logo.png" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="active">
                    <a href="index-2.html">خانه</a>
                </li>
                <li class="">
                    <a href="index-2.html">درباره ما</a>
                </li>
                <li class="">
                    <a href="index-2.html">تماس با ما</a>
                </li>
                <li class="">
                    <a href="index-2.html"> خدمات ما</a>
                </li>
            
                <li class="has-submenu">
                    <a href="#">مقالات‌<i class="fas fa-chevron-down"></i></a>
                    <ul class="submenu">
                        <li class="has-submenu">
                            <a href="#">پزشکان</a>
                            <ul class="submenu">
                                <li><a href="map-grid.html">گرید نقشه</a></li>
                                <li><a href="map-list.html">لیست نقشه</a></li>
                            </ul>
                        </li>
                        <li><a href="search.html">جستجو پزشک</a></li>
                        <li><a href="doctor-profile.html">پروفایل پزشک</a></li>
                        <li><a href="booking.html">رزرو نوبت</a></li>
                        <li><a href="checkout.html">پرداخت</a></li>
                        <li><a href="booking-success.html">رزرو موفق</a></li>
                        <li><a href="patient-dashboard.html">دشبرد مراجعه‌کننده</a></li>
                        <li><a href="favourites.html">‌علاقه‌مندیها</a></li>
                        <li><a href="chat.html">چت</a></li>
                        <li><a href="profile-settings.html">تنظیمات پروفایل</a></li>
                        <li><a href="change-password.html">‌تغییر رمز عبور</a></li>
                    </ul>
                </li>
                <li class="">
                    <a href="index-2.html"> ورود / ثبت‌نام </a>
                </li>
   
           
            </ul>



        </div>
        <ul class="nav header-navbar-rht">
            <li class="nav-item">
                <a class="nav-link header-login" href="login.html">
                    رزرو نوبت
                </a>
            </li>
        </ul>
    </nav>
</header>